body {
    font-family: Arial, sans-serif;
    background-color: #171719;
    padding: 20px;
    margin: 0;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #555;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.details-image {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
    border-radius: 8px;
}
.item-image{
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
    border-radius: 8px;
}

.details-info p {
    margin: 5px 0;
}

.like-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.back-link {
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}
