* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #171719;
  margin: 0;
  padding: 0;
}

.container {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
  height: 100px;
  color: #fff;
  padding: 10px;
  align-self: center;
  border-bottom: 1px solid #fff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
  padding: 20px;
  width: 50vw;
  align-self: center;
  max-width: 800px;
  background-color: #171719;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #fff; */
}

input {
  background-color: #171719;
  border: 1px solid #fff;
}

label {
  margin-bottom: 5px;
  color: #fff;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="url"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: white;
}

input[type="date"] {
  color: #fff;
}

.button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button[type="submit"] {
  padding: 15px 50px;
  background-color: #D9D9D9;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #333;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #171719;
  color: #fff;
  border-top: 1px solid #fff;
}

footer {
  position: sticky;
  bottom: 0;
}