* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

/* Estilos del header */

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #171719;
  color: #fff;
  position: relative;
  border-bottom: 1px solid #fff;
}

.imagen-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  border: 5px solid #555;
}

.settings {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* Estilos del contenido */

.content {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: repeat(3, minmax(auto, 500px));
  /* grid-template-rows: repeat(3, minmax(auto, 1fr)); Permite que las filas tengan un minimo de 500px y un maximo de 1fr pero si están vacios se ajustan al contenedor mas grande */
  /* grid-template-rows: repeat(3, minmax(500px, 1fr)); */
  /* grid-template-rows: max-content 420px;
  grid-template-rows: min-content 220px; */
  gap: 20px;
  padding: 40px;
  background-color: #171719;
  justify-content: center;
  padding-left: 60px;
  min-height: 100vh;
  min-width: 100vw;
}

.content div:nth-child(1) {
  max-height: 420px;
}

.content div:nth-child(2) {
  max-height: 400px;
}

.title {
  color: #939393;
}

/* Estilos de las canciones */

.song {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    align-items:center;
    border-bottom: 0.5px solid #2C2C2C ;
    width: 75vw;
    color: white;
    /* margin-left: 50px; */
}

.song > * {
    padding: 20px;
}

.duration {
  justify-self: center;
  grid-column: 3;
  color: rgba(177, 177, 177, 1);
}

.thumbnail img {
   width :50px ;
   height :50px ;
   grid-column: 1;
}

.info p:nth-child(2){
  margin-top: 10px;
  color: rgba(180, 180, 180, 1);
  
}

/* Botón de favorito */

.sprite {
  width: 50px;
  height: 50px;
  align-self: center;
  justify-self: last baseline;
  background-image: url(assets/HeartAnimation.png);
  cursor: pointer;
}

.sprite-1 {
  background-position: 0 0;
}

.sprite-2 {
  background-position: -50px;
}

/* Estilos de los albums */

.albums-content {
  color: #fff;
}

.albums-list {
  display: grid;
  grid-template-columns: min-content repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
  color: #fff;
}

.album {
  display: grid;
  padding: 10px;
  cursor: pointer;
  width: 255px;
  height: 257px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.album-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #8884844b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.album-info > p:nth-child(1) {
  color: #fcfcfc;
  padding-top: 20px;
  padding-left: 20px;
}

.album-info > p:nth-child(2) {
  color: #b7b7bd;
  padding-left: 20px;
  margin-top: 0;
}

.album > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.album:hover {
  .album-img {
    filter: sepia(40%);
    transition: 0.5s;
  }
}

.albums-content2 {
  padding-top: 200px;
  color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  /* min-width: 370px; */
  gap: 20px;
  padding: 20px;
  background-color: #171719;
  color: #fff;
  border-top: 1px solid #fff;
}

.footer > img {
  width: 30px;
  height: 30px;
}

footer {
  position: sticky;
  bottom: 0;
}

h1 {
  margin-bottom: 30px;
}


@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .imagen-perfil {
    margin: 0 auto;
  }
}