
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #171719;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.settings {
    display: flex;
    width: 80vw;
    height: 75vh;
    gap: 20px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30%;
    padding: 20px;
    background-color: #8f8e8e;
    justify-content: space-between;
    border-radius: 10px;
    color: #000000;
}

.userInfo {
    color: #333;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.imagen-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    border: 5px solid #555;
    min-height: 100px;
}
.configuracion{
    display: flex;
    justify-content: center;
    height: 200px;
}
.configuracioninfo{
    margin: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    background-color: #8f8e8e;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;
}
.text-lg{
    color: white;
}
.mt-1{
    color: black;
}
.inputtext{
    color: white;
}
.text-sm{
    color: white;
}
  
.tittle {
    text-align: center;
    color: #333;
}
  
.user-info {
    margin-bottom: 20px;
    height: 400px;
}
  
.buttons {
    display: flex;
    justify-content: space-between;
}
  
button {
    padding: 10px;
    background-color: #D9D9D9;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 30px;
    background-color: black;
    color: white;
}

button:hover {
    background-color: rgb(61, 61, 61);
}


#logout {
    color: white;
    background-color: rgb(247, 85, 85);
}

#logout:hover {
    background-color: rgb(247, 47, 47);
}

@media (max-width: 800px) {

    .settings {
        flex-direction: column;
        min-width: 380px;
    }
    .user {
        width: 100%;
    }

    .info {
        width: 100%;
    }
}